<mat-card>
  <mat-card-header>
    <mat-card-title>{{ subject?.name }}</mat-card-title>
    <mat-card-subtitle>{{ subject?.description }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="calendar-container">
      <mat-calendar
        [minDate]="minDate"
        [selected]="selectedDate"
        (selectedChange)="onDateSelected($event)">
      </mat-calendar>
    </div>
    <div class="exams-container" *ngIf="exams.length > 0">
      <mat-list>
        <mat-list-item *ngFor="let exam of exams; trackBy exam?.id">
          <h3 matLine>
            {{ exam.professor.fullName }}
          </h3>
          <p matLine>
            {{ exam.startTime | date: 'hh:mm' }}, {{ exam.hall }}
          </p>
          <button color="primary" mat-raised-button>
            <span translate>Details</span>
          </button>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="no-exams" *ngIf="exams.length === 0">
      <p translate>
        There are no exams scheduled for the chosen date yet
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button color="primary" mat-button>
      <span translate>Add new exam date</span>
    </button>
  </mat-card-actions>
</mat-card>
