<div class="hero-card mat-elevation-z4">
  <div class="hero-card-image">
    <img src="./assets/ru-logo.png" alt="{{ 'RU Angel Kanchev' | translate }}">
  </div>
  <div class="hero-card-content">
    <header class="hero-card-header">
      <div class="hero-card-title-group">
        <h1 class="mat-headline">{{ title }}</h1>
        <h2 class="mat-title">{{ subtitle }}</h2>
      </div>
      <ru-language-selector></ru-language-selector>
    </header>
    <section>
      <ng-content></ng-content>
    </section>
  </div>
</div>
