.hero-card {
  background-color: white;
  border-radius: 2px;
  display: flex;
}

.hero-card-image {
  padding: 32px 16px;
  background: #e8e8e8;
  background: linear-gradient(to bottom, #e8e8e8 0%, #c9c9c9 100%);
  display: flex;
  align-items: center;
}

.hero-card-image > img {
  height: auto;
}

.hero-card-content {
  padding: 16px 32px;
  flex: 1;
}

@media only screen and (max-width: 480px) {
  .hero-card {
    display: block;
  }

  .hero-card-image > img {
    margin: 0 auto;
  }
}
