@import '~styles/vars';
@import '~styles/responsive-table';

:host {
  display: block;
}

.cdk-column-date,
.cdk-column-subject,
.cdk-column-status {
  flex: 2;
}
.cdk-column-professor {
  flex: 3;
}

mat-card:not(:last-of-type) {
  margin-bottom: 16px;
}

.enrolment-status {
  border-radius: 4px;
  padding: 4px 8px;
  min-width: 120px;
  display: inline-block;
  text-align: center;
  color: white;
  user-select: none;
  font-weight: 500;
  background-color: darkgrey;

  &.approved {
    background-color: $colorStatusApproved;
  }
  &.rejected {
    background-color: $colorStatusRejected;
  }
  &.pending {
    background-color: $colorStatusPending;
  }
}

@include responsive-table();
