<ru-hero-card
  title="{{ 'Online Exam Registration System' | translate }}"
  subtitle="{{ 'Login' | translate }}">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="{{ 'Email Address' | translate }}"
        formControlName="emailAddress"
        required>
      <mat-error *ngIf="loginForm.controls['emailAddress'].errors?.required" translate>
        The email address is a required field
      </mat-error>
      <mat-error *ngIf="loginForm.controls['emailAddress'].errors?.email" translate>
        Invalid email address
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="{{ 'Password' | translate }}"
        formControlName="password"
        required>
      <mat-error *ngIf="loginForm.controls['password'].errors?.required" translate>
        The password is a required field
      </mat-error>
    </mat-form-field>
    <div class="hero-card-actions">
      <button mat-button color="primary">
        <span translate>Log in</span>
      </button>
      <a [routerLink]="'/sign-up'" mat-button type="button">
        <span translate>Sign Up</span>
      </a>
    </div>
  </form>
</ru-hero-card>
