:host {
  width: 280px;
  display: block;
}

nav > header {
  background: #e8e8e8;
  background: linear-gradient(to bottom, #e8e8e8 0%, #c9c9c9 100%);
  padding: 16px;
}

nav > header > img {
  margin: 0 auto;
  display: block;
}

nav > header .user-details {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-details__role {
  background-color: rgba(0, 0, 0, 0.12);
  padding: 12px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-bottom: 8px;
}

.user-details__role mat-icon {
  font-size: 36px;
  width: 36px;
  height: 36px;
}

.user-details__username {
  font-size: 1.125em;
  text-align: center;
}

mat-nav-list {
  padding-top: 0;
}

a[mat-list-item] mat-icon {
  margin-right: 16px;
}

a[mat-list-item].active {
  font-weight: bold;
}
