@import '~styles/vars';

:host {
  width: 280px;
  display: block;
  height: 100%;
  @include hero-gradient();
}

.mat-nav-list .mat-list-item.mat-list-item-focus,
.mat-nav-list .mat-list-item:hover {
  background-color: rgba($colorPrimary, 0.25);
  @include hero-gradient();
}

nav > header {
  padding: 16px;
}

nav > header > img {
  margin: 0 auto;
  display: block;
}

nav > header .user-details {
  margin-top: 16px;
  display: block;
}

.user-details__role {
  opacity: 0.72;
  padding: 12px;
  text-align: center;
}

.user-details__role mat-icon {
  $size: 18px;
  font-size: $size;
  width: $size;
  height: $size;
  margin-right: 8px;
}

.user-details__username {
  flex: 1;
  font-size: 1.125em;
  text-align: center;
}

mat-nav-list {
  padding-top: 0;
}

a[mat-list-item] mat-icon {
  margin-right: 16px;
}

a[mat-list-item].active {
  font-weight: bold;
  @include hero-gradient();
}
