@import '~styles/vars';

:host {
  width: 280px;
  display: block;
  height: 100%;
  @include hero-gradient();
}

.mat-nav-list .mat-list-item.mat-list-item-focus,
.mat-nav-list .mat-list-item:hover {
  background-color: rgba($colorPrimary, 0.43);
}

nav > header {
  padding: 16px;
}

nav > header > img {
  margin: 0 auto;
  display: block;
}

nav > header .user-details {
  margin-top: 16px;
  display: block;
}

.user-details__name {
  font-size: 1.125em;
  text-align: center;
}

.user-details__email {
  font-size: 0.825em;
  text-align: center;
  margin-top: 4px;
  color: rgba(0, 0, 0, 0.76);
}

mat-nav-list {
  padding-top: 0;
}

a[mat-list-item] mat-icon {
  margin-right: 16px;
}

a[mat-list-item].active {
  font-weight: bold;
  background-color: rgba($colorPrimary, 0.25);
}
