@import '~styles/vars';

:host {
  width: 280px;
  display: block;
}

.mat-nav-list .mat-list-item.mat-list-item-focus,
.mat-nav-list .mat-list-item:hover {
  background-color: rgba($colorPrimary, 0.12);
}

nav > header {
  @include hero-gradient(135deg);
  padding: 16px;
}

nav > header > img {
  margin: 0 auto;
  display: block;
}

nav > header .user-details {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-details__role {
  background-color: rgba($colorPrimary, 0.18);
  padding: 12px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-bottom: 8px;
}

.user-details__role mat-icon {
  font-size: 36px;
  width: 36px;
  height: 36px;
}

.user-details__username {
  font-size: 1.125em;
  text-align: center;
}

mat-nav-list {
  padding-top: 0;
}

a[mat-list-item] mat-icon {
  margin-right: 16px;
}

a[mat-list-item].active {
  font-weight: bold;
  @include hero-gradient(45deg);
}
