<nav>
  <header>
    <img src="./assets/ru-logo.png" alt="{{ 'RU Angel Kanchev' | translate }}">
    <div class="user-details">
      <div class="user-details__role" [ngSwitch]="userDetails?.role">
        <mat-icon  *ngSwitchCase="'PROFESSOR'" matTooltip="{{ 'Professor' | translate }}">account_circle</mat-icon>
        <mat-icon *ngSwitchCase="'STUDENT'" matTooltip="{{ 'Student' | translate }}">school</mat-icon>
        <mat-icon *ngSwitchDefault matTooltip="{{ 'Administrator' | translate }}">build</mat-icon>
      </div>
      <div class="user-details__username">
        <span>{{ userDetails?.username }}</span>
      </div>
    </div>
  </header>
  <mat-nav-list>
    <a mat-list-item [routerLink]="'/'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:
      true}">
      <mat-icon>dashboard</mat-icon>
      <span translate>Dashboard</span>
    </a>
    <a mat-list-item [routerLink]="'/exam-dates'" [routerLinkActive]="'active'">
      <mat-icon>event_note</mat-icon>
      <span translate>Exam Dates</span>
    </a>
    <a mat-list-item href="#">
      <mat-icon>archive</mat-icon>
      <span translate>Archive</span>
    </a>
    <a mat-list-item href="#">
      <mat-icon>help</mat-icon>
      <span translate>Help</span>
    </a>
    <a mat-list-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span translate>Logout</span>
    </a>
  </mat-nav-list>
</nav>
