$mobileBreakpoint: 720px;

$colorStatusApproved: #15db00;
$colorStatusRejected: indianred;
$colorStatusPending: #ea8100;
$colorPrimary: #fcfe04;

@mixin hero-gradient($degs: 45deg) {
  background: rgba($colorPrimary, 0.15);
  background: linear-gradient(
    $degs,
    rgba($colorPrimary, 0.12) 0%,
    rgba($colorPrimary, 0.33) 100%
  );
}
