$mobileBreakpoint: 720px;

$colorStatusApproved: rgb(76, 175, 80);
$colorStatusRejected: rgb(244, 67, 54);
$colorStatusPending: rgb(255, 152, 0);
$colorPrimary: #3f51b5;
$colorGradientStart: #d3deff;
$colorGradientEnd: #e2e2e2;

@mixin hero-gradient($direction: to right) {
  background: $colorGradientEnd;
  background: linear-gradient(
    $direction,
    $colorGradientStart,
    $colorGradientEnd
  );
}

@mixin hero-gradient-toolbar($direction: to right) {
  background: $colorGradientEnd;
  background: linear-gradient(
    $direction,
    $colorGradientStart 0%,
    $colorGradientEnd 100%
  );
}
