<mat-card>
  <mat-card-header>
    <mat-card-title>{{ subject?.name }}</mat-card-title>
    <mat-card-subtitle>{{ subject?.description }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list *ngIf="exams.length">
      <mat-list-item *ngFor="let exam of exams; trackBy exam?.id">
        <span class="date-icon" [ngClass]="exam.enrollmentStatus | lowercase" matListIcon>
          <span class="date-icon__date">{{ exam.startTime | date : 'dd.MM' }}</span>
          <span class="date-icon__year">{{ exam.startTime | date : 'yyyy' }}</span>
        </span>
        <h3 matLine>{{exam.professor.fullName}}</h3>
        <p class="mat-caption" matLine>
          {{ exam.startTime | date : 'hh:mm' }},
          {{ exam.hall }}
        </p>
        <span class="max-seats">{{ exam.participationRequests.length }} / {{ exam.maxSeats }}</span>
        <button color="primary" mat-raised-button (click)="enroll(exam)" *ngIf="exam.enrollmentStatus === 'NONE'">
          <span translate>Enroll</span>
        </button>
        <button color="warn" mat-raised-button (click)="cancelEnrollment(exam)" *ngIf="exam.enrollmentStatus !== 'NONE'">
          <span translate>Cancel</span>
        </button>
      </mat-list-item>
    </mat-list>
    <p *ngIf="exams.length === 0" translate>
      There are no upcoming exam dates published for this subject
    </p>
  </mat-card-content>
</mat-card>
