@import '~styles/vars';

.max-seats {
  min-width: 72px;
}

mat-card-content {
  margin-top: 16px;
}

section:not(:last-of-type) {
  margin-bottom: 21px;
}

p.mat-caption {
  color: rgba(0, 0, 0, 0.72);
}

[matListIcon].mat-list-icon {
  color: white;
  background-color: lightgray;
  width: 36px;
  height: 36px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .date-icon__date {
    font-size: 16px;
  }

  &.approved {
    background-color: $colorStatusApproved;
  }

  &.pending {
    background-color: $colorStatusPending;
  }

  &.rejected {
    background-color: $colorStatusRejected;
  }

  &.none {
    background-color: #4fc1e9;
  }

  .mat-raised-button {
    min-width: 120px;
  }

  @media only screen and (max-width: 480px) {
    width: 32px;
    height: 32px;
    .date-icon__date {
      font-size: 14px;
    }
  }
}

.mat-list .mat-list-item .mat-list-item-content {
  padding: 0 !important; /* try to use !important if doesn't work */
}

button {
  min-width: inherit;
}

@media only screen and (max-width: 480px) {
  button {
    padding: 8px;
    font-size: 14px;
    line-height: 21px;
  }

  h3[matline].mat-line {
    white-space: normal;
  }
}
