@import '~styles/vars';

mat-drawer-content {
  height: 100vh;
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 3;
  transition: 0.33s ease-in-out;
  will-change: transform;
  transform: translateY(0);
}

.toolbar.hidden {
  transform: translateY(-64px);
}

mat-toolbar {
  @include hero-gradient-toolbar(to left);

  h1 {
    flex: 1;
  }
}

mat-progress-bar.hidden {
  visibility: hidden;
}

@media only screen and (max-width: 720px) {
  mat-toolbar h1 {
    font-size: 0;
  }
}

section.content {
  display: block;
  padding: 16px;
}

section.content.no-session {
  display: flex;
  align-items: center;
  height: calc(100% - 128px);
}

section.content.no-session > div {
  margin: 0 auto;
}
