<mat-card *ngIf="exam">
  <mat-card-header>
    <mat-card-title>{{ exam.subject.name }}</mat-card-title>
    <mat-card-subtitle>{{ exam.startTime | date: 'dd.MM.yyyy' }}, {{ exam.startTime | date: 'hh:mm' }}  - {{ exam.endTime | date: 'hh:mm' }}</mat-card-subtitle>
    <button
      mat-icon-button
      matTooltip="{{ 'Cancel Exam' | translate }}"
      (click)="openConfirmCancellationModal(exam)"
      *ngIf="exam.professor.username === professor.username">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
    <section class="exam-details">
      <h2 translate>Professor</h2>
      <div class="professor-information">
        <h3>
          <mat-icon matTooltip="{{ 'Full Name' | translate }}">person</mat-icon>
          <span>{{ exam.professor.fullName }}</span>
        </h3>
        <h4>
          <mat-icon matTooltip="{{ 'Phone Number' | translate }}">phone</mat-icon>
          <span>{{ exam.professor.phoneNumber }}</span>
        </h4>
        <h4>
          <mat-icon matTooltip="{{ 'Email Address' | translate }}">email</mat-icon>
          <a href="mailto:{{ exam.professor.username }}">{{ exam.professor.username }}</a>
        </h4>
        <h4>
          <mat-icon matTooltip="{{ 'Cabinet' | translate }}">place</mat-icon>
          <span>{{ exam.professor.cabinet }}</span>
        </h4>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section class="enrolled-students">
      <h2>
        <span translate>Enrolled Students</span>
        <span>({{ exam.enrolledStudents.length }}/{{ exam.maxSeats }})</span>
      </h2>
      <mat-list *ngIf="exam.enrolledStudents.length > 0">
        <mat-list-item *ngFor="let e of exam.enrolledStudents">
          <span class="request-status" [ngClass]="e.status | lowercase" matListIcon [ngSwitch]="e.status">
            <mat-icon *ngSwitchCase="'APPROVED'" matTooltip="{{ 'Approved' | translate }}">done</mat-icon>
            <mat-icon *ngSwitchCase="'REJECTED'" matTooltip="{{ 'Rejected' | translate }}">close</mat-icon>
            <mat-icon *ngSwitchDefault matTooltip="{{ 'Pending' | translate }}">help_outline</mat-icon>
          </span>
          <h3 matLine>
            {{ e.student.fullName || e.student.username }}
          </h3>
          <p class="mat-caption" matLine>
            {{ e.student.facultyNumber }}, {{ e.student.specialty }} ({{ e.student.groupNumber }})
          </p>
          <div class="actions desktop">
            <button class="approve" (click)="approveStudent(e)" mat-button *ngIf="exam.professor.username === professor.username && e.status === 'PENDING'">
              <span translate>Approve</span>
            </button>
            <button class="reject" (click)="openRejectStudentModal(e)" mat-button *ngIf="exam.professor.username === professor.username && e.status === 'PENDING'">
              <span translate>Reject</span>
            </button>
          </div>
          <div class="actions mobile">
            <button class="approve" (click)="approveStudent(e)" mat-icon-button *ngIf="exam.professor.username === professor.username && e.status === 'PENDING'">
              <mat-icon matTooltip="{{ 'Approve' | translate }}">done</mat-icon>
            </button>
            <button class="reject" (click)="openRejectStudentModal(e)" mat-icon-button *ngIf="exam.professor.username === professor.username && e.status === 'PENDING'">
              <mat-icon matTooltip="{{ 'Reject' | translate }}">close</mat-icon>
            </button>
          </div>
        </mat-list-item>
      </mat-list>
      <p class="no-enrolled" *ngIf="exam.enrolledStudents.length === 0" translate>There are no students who enrolled yet</p>
    </section>
  </mat-card-content>
</mat-card>
