@import '~styles/vars';

.mat-card-header {
  display: flex;
  flex-direction: row;

  button {
    align-self: flex-start;
  }
}

.request-status {
  mat-icon {
    user-select: none;
  }

  &.pending {
    color: black;
    background-color: $colorStatusPending;
    mat-icon {
      opacity: 0.54;
    }
  }

  &.approved {
    color: white;
    background-color: $colorStatusApproved;
    mat-icon {
      opacity: 0.72;
    }
  }

  &.rejected {
    color: black;
    background-color: $colorStatusRejected;
    mat-icon {
      opacity: 0.54;
    }
  }
}

[mat-card-avatar] {
  margin-right: 8px;
  width: 54px;
  height: 54px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.exam-details {
  padding-top: 16px;
  padding-bottom: 16px;

  .professor-information {
    margin-left: 16px;
    margin-right: 16px;
  }

  h2 {
    margin-bottom: 12px;
  }

  h4,
  h3 {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    mat-icon {
      margin-right: 12px;
      user-select: none;
      opacity: 0.62;
    }

    a {
      color: inherit;
    }
  }
}

.enrolled-students {
  padding-top: 16px;

  h2 {
    span:first-of-type {
      margin-right: 4px;
    }
  }

  .mat-list .mat-list-item .mat-list-item-content {
    padding: 0;
  }

  .no-enrolled {
    margin-top: 16px;
  }

  .actions {
    display: inherit;

    button {
      display: inline-block;
      &.approve {
        color: limegreen;
      }

      &.reject {
        color: tomato;
      }
    }

    @media only screen and (max-width: $mobileBreakpoint) {
      &.desktop {
        display: none;
      }
    }

    @media only screen and (min-width: $mobileBreakpoint + 1px) {
      &.mobile {
        display: none;
      }
    }

    &.desktop {
      button {
        min-width: 100px;
      }
    }
  }
}
