:host {
  display: block;
  min-width: 320px;
}

form > mat-form-field {
  display: block;
}

.form-title {
  h2 {
    margin-bottom: 4px;
  }

  margin-bottom: 16px;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.actions > * {
  margin-top: 16px;
  margin-left: 16px;
}

@media only screen and (max-width: 480px) {
  mat-form-field {
    width: 280px;
  }

  .actions {
    width: 280px;
  }
}
